#general{
    -fx-background-color: #f8ffd7;
    -fx-background: #f8ffd7;
    -fx-border-color: #94af76;
}
#chat_area{
    -fx-background-color: #f8ffd7;
    -fx-background: #f8ffd7;
    -fx-border-color: #f8ffd7;
    -fx-font-family: 'Tahoma';    
}
#chat_field{
    -fx-background-color: #c5e1a5;
    -fx-background: #c5e1a5;
    -fx-border-color: #94af76;
    -fx-font-family: 'Tahoma';
}
#send_button{
    -fx-background-color: #94af76;
    -fx-text-fill: black;
    -fx-font-size: 13;
    -fx-font-weight: bold;
}
#whole_chat{
    -fx-effect: dropshadow(gaussian, #494949, 7.5, 0.2, 0.0, 4.0);
}